.benefits__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--base-text-color);
}
  
.benefits__info {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--text-color-grey);
    margin-top: 10px;
}
  
.benefits__block {
    --items: 4;
    --indent: 30px;
}
  
.benefits__list {
    justify-content: space-between;
} 
  
.benefits__icon {
    width: 70px;
    height: 70px;
}
  
.benefits__container {
    @extend %flex-centered;
    width: 100%;
    height: 120px;
    margin-bottom: 30px;
    background: var(--light-background);
    border-radius: 4px;
}