.solution {
    max-width: 1600px;
    margin: 0 auto;
    background-color: var(--dark-background);
    background-image: 
    linear-gradient(0deg, rgba(47, 48, 58, 0.4),  rgba(47, 48, 58, 0.4)), 
    url("../images/solution-img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 200px 0;
    position: relative;

    &__title {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        color: var(--text-color-white);
        text-align: center;
        text-transform: uppercase;
        max-width: 700px;
        margin: 0 auto;
        letter-spacing: 0.06em;
    }
}
  
.solution__button {
    @extend %flex-centered;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color: var(--text-color-white);
    background-color: var(--accent-color);
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin: 30px auto 0px;
    padding: 10px 32px;
    cursor: pointer;
    transition: var(--animation-background-color);

    &:hover,
    &:focus {
      background-color: var(--accent-hover-color) ;
    }
}