:root {
    --base-text-color: #212121;
    --dark-background: #2f303a;
    --light-background: #f5f4fa;
    --accent-color: #2196f3;
    --accent-hover-color: #188ce8;
    --text-color-white: #ffffff;
    --text-color-grey: #757575;
    --white-background: #ffffff;
    --grey-border: #eeeeee;
    --grey-background-icon: #afb1b8;
    --grey2-background-icon:rgba(255, 255, 255, 0.1);
  
    --items: 3;
    --indent: 20px;
  
    --animation-background-color: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --animation-color: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}