.footer {
    padding: 60px 0;
    background-color: var(--dark-background);
      
    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--text-color-white);
        margin-bottom: 20px;
    }

    &__adress {
        font-style: normal;
        margin-top: 20px
    }

    &__container-adress {
        text-align: center;

        @include for-desktop-up {
            text-align: left;
        }
    }

    &__logo {
        margin: auto;
    }

    &__adress-and-socials {
        display: flex;
        flex-direction: column;

        @include for-tablet-up {
            flex-direction: row;
            align-items: baseline;
        }
    }
}
   
.footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 60px;

    @include for-desktop-up {
        text-align: left;
        flex-direction: row;
        align-items: baseline;
        gap: 0px;
    }

    // align-items: baseline;
}
  
.footer__socials {
    margin-bottom: 0;
}

.footer__container-socials {
    margin-top: 60px;

    @include for-tablet-up {
        margin-top: 0;
        margin-left: 165px;
    }

    @include for-desktop-up {
        margin-left: 70px;
    }
}

.adress__item:not(:first-child) {
    margin-top: 9px;
}

@include for-desktop-up {
    .adress__link {
        display: block;
        line-height: 1.7;
    }
}

