.header__container {
  display: flex;
  height: 60px;
  align-items: center;

  @include for-tablet-up {
    height: 80px;
  }
}
  
.header {
  border-bottom: 1px solid var(--grey-border);

  &__open-menu {
    position: relative;
    width: 22px;
    height: 16px;
    background: none;
    border: none;
    box-shadow: none !important;
    cursor: pointer;

    @include for-tablet-up {
        display: none;
    }
  }

  &__open-menu::before,
  &__open-menu::after,
  &__open-icon {
      position: absolute;
      left: 0;
      display: block;
      width: 100%;
      height: 2px;
      background-color: #000;
      content: '';
  }

  &__open-menu::before {
      top: 2px;
  }

  &__open-menu::after {
      bottom: 0;
  }
}