.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--base-text-color);
    text-decoration: none;
    letter-spacing: 0.03em;
    margin-right: 93px;

    &__white {
        color: var(--text-color-white);
      }
      
    &__span {
        color: var(--accent-color);
    }
}
  
  