.subscribe {
    margin-left: 93px;

    &__input {
        width: 346px;
        height: 50px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        padding: 15px 16px;
        background-color: var(--dark-background);
        color: var(--text-color-white);
        outline: none;
    }
      
    &__btn {
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.06em;
        color: var(--text-color-white);
        background: var(--accent-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        width: 200px;
        height: 50px;
        border: none;
        margin-left: 12px;
        @extend %flex-centered;
        cursor: pointer;
    }
      
    &__icon {
        width: 24px;
        height: 24px;
        margin-left: 10px;
    }
}